@font-face {
  font-family: "Futura";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src:
    url("../assets/fonts/FuturaPTLight.woff2") format("woff2"),
    url("../assets/fonts/FuturaPTLight.woff") format("woff");
}

@font-face {
  font-family: "Futura";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url("../assets/fonts/FuturaPT-Book.woff2") format("woff2"),
    url("../assets/fonts/FuturaPT-Book.woff") format("woff");
}

@font-face {
  font-family: "Futura";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("../assets/fonts/FuturaPT-Demi.woff2") format("woff2"),
    url("../assets/fonts/FuturaPT-Demi.woff") format("woff");
}

@font-face {
  font-family: "Futura";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    url("../assets/fonts/FuturaPT-Bold.woff2") format("woff2"),
    url("../assets/fonts/FuturaPT-Bold.woff") format("woff");
}
