@import "styles/variables";
@import "styles/mixins";

.log {
  @include fontSmaller($colorHighlightLight);

  display: flex;
  align-items: center;
  margin-left: auto;

  .iconLog {
    margin-left: 1rem;
    width: 1.8rem;
    stroke: $colorHighlightLight;
  }
}
